.root {
    -fx-background-image: url('https://cdn.wallpapersafari.com/11/43/EXVgK1.png'); /* replace with the path to your own background image */
    -fx-background-size: cover;
}

.vbox {
    -fx-background-color: transparent;
}

.game-label {
    -fx-font-family: 'Pixelated';
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}

.game-text-field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-font-family: 'Pixelated';
}

.game-button {
    -fx-background-color: #ffaa00;
    -fx-font-family: 'Pixelated';
    -fx-text-fill: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 10;
    -fx-effect: dropshadow( three-pass-box , black , 8 , 0.0 , 2 , 0 );
}

.game-button:hover {
    -fx-background-color: #ffca00;
}

/* Include the path to your custom pixel font */
@font-face {
    font-family: 'Pixelated';
    src: url('../fonts/pixelated_font.ttf');
}
